<div class="corpo-da-pagina bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <div class="logo-site text-center col-12 m-3">
            <img class="img-fluid imagem-logo text-center" src="../../assets/imagens/LogoQualFilme/EscopoQualFilme.png" alt="">
        </div>
    </nav>
    <div class="imagem-filme container col-12">
        <img src="../../assets/imagens/filmes/imagemFilmeTeste.jpg" class="rounded mx-auto img-fluid" alt="...">
    </div>
    <div class="tentativas container col-6">
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Digite o nome do filme" aria-label="Digite o nome do filme" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tentar</button>
        </div>
    </div>
</div>
